

.card_container{
    width: 60vw;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    box-shadow: 0 0 10px 2px;
   
}
.card_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: rgba(243, 238, 238, 0.897);
}
.close_img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    mix-blend-mode:darken;
}
.card_body{
    display: flex;
    padding: 20px;
}
.col1{
    flex-basis: 50%;
    padding: 15px;
    /* padding-left: 80px; */
}
.label{
    padding-left: 1rem;
}
.col1 label{
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
}

.popup_input{
    width: 15vw;
    height: 35px;
    border-radius: 5px;
    margin: 10px 0px;
}

/* */
.cards_img img{
    width: 6vw;
    height: 8vh;
}

.date{
    width: 70px;
    height: 35px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1.5px solid #000;
    border-radius: 5px;
    
}
.date:last-child{
    width: 100px;
}

.col2{
    flex-basis: 50%;
    padding: 15px;
    position: relative;
}
.col2 p{
    font-size: 20px;
    font-weight: 500;
}
.col2::after{
    content: '';
    height: 150px;
    width: 1px;
    background: lightgray;
    position: absolute;
    left: -10px;
    top: 10px;
}
.card_footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    background: rgb(243, 238, 238);
}
.card_footer button{
   padding: 10px;
   margin-right: 10px;
   border-radius: 5px;
}
/* */
@media only screen and (max-width: 991px){
    .col1{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .col2::after{
        content: '';
        height: 1px;
        width: 380px;
        background: lightgray;
        position: absolute;
        left: 10px;
        top: -10px;
    }
    .input_div{
        padding-left: 5rem;
    }
    .input_div2{
        margin-left: -45px;
    }
    .input_div:last-child{
        margin-left: -55px;
    }
    .input_div:first-child{
        margin-left: -65px;
    }
    .cards_img img{
       width: 15vw;
        margin-top: 10px;
    }
    .card_header h1{
        font-size: 20px;
    }
    .col1 label {
        font-size: 15px;
    }
    .col2 p{
       font-size: 15px;
       line-height: 22px;
    }
    .date{
        margin-top: 0.7rem;
        padding-left: 2rem;
        width: 7vw;
    }
    .popup_input_nick{
        margin-left: 1rem;
    }
    .popup_input_card{
        margin-left: 1rem;
    }
    .label{
        padding-left: 2rem;
    }

}

@media only screen and (max-width: 470px){
    
    .input_div2{
        margin-left: -65px;
    }
    .popup_input{
        margin-top: 10px;
    }
    .input_div:last-child{
        margin-left: -65px;
    }
    
    .date{
        width: 50px;
        height: 25px;
        margin-right: 50px;
        position: absolute;
        left: 35px;
        bottom: 55%;
       
    }
    .date:last-child{
        width: 100px;
        margin-left: 60px;
    }

    .col2::after{
       display: none;
    }
    .col2{
        padding-top: 30px;
    }
}
